<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets" 
   xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.katherineklick.graph410" version = "1.0">
   
   <name>Sweet Tooth Cupcakes</name>
   
   <description>
      Cupcake creations and locations
   </description>
   
   <author href = "http://graph410.comxa.com/katherine" email = "katherine.klick@yahoo.com">
      Katherine Klick
   </author>
   
   <preference name = "permissions" value = "none"/>
   
   <icon src = "images/ldpi.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
		
   <icon src = "images/mdpi.png" 
      gap:platform = "android" gap:qualifier = "mdpi" />
		
   <icon src = "images/hdpi.png" 
      gap:platform = "android" gap:qualifier = "hdpi" />
		
   <icon src = "images/xhdpi.png" 
      gap:platform = "android" gap:qualifier = "xhdpi" />
		
   <icon src = "images/xxhdpi.png" 
      gap:platform = "android" gap:qualifier = "xxhdpi" />
   
   <icon src = "images/Icon-72.png" gap:platform = "ios" gap:qualifier = ""/>
   <icon src = "images/Icon-60.png" gap:platform = "ios" width = "60" height = "60" />
   <icon src = "images/Icon-72.png" gap:platform = "ios" width = "72" height = "72" />
   <icon src = "images/Icon-40.png" gap:platform = "ios" width = "40" height = "40" />
   <icon src = "images/Icon-72@2x.png" gap:platform = "ios" width = "144" height = "144" />
   
</widget>